/node_modules
/public/hot
/public/css
/public/js
/nodejs/logs/
/public/storage
/nodejs/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.gitattributes
*.iml
.idea/laravel-plugin.xml
/.idea
composer.lock
nodejs/package-lock.json
public/0.js
package-lock.json
package-lock.json
package-lock.json
public/2.js
public/1.js
